# This file needs to be created!!

# Example:
# API_USERNAME=lucas
# API_PASSWORD=..........
# API_URL="http://192.168.8.239:6644"
# ANALYTICS_MONGO_URI="mongodb://analytics_user:password@mongo:27017"
# ANALYTICS_DATABASE="health_analytics"
# DEV_ALLOWED_ORIGINS="192.168.8.239"
# HEALTH_HOME_TIME_ZONE="America/Chicago"
# SLEEP_TARGET_MINUTES="480"
# HEALTH_BIRTH_DATE="1990-01-31"
